<footer class="footer">
	<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<img class="footer_logo" src='{% static "cms/img/TechkidBrandGrey.png"%}'/>
						<p class="socials_list">
							<a href="skype:techkidsvn?chat" class="fa fa-skype"></a>
							<a href="https://www.facebook.com/Techkids.Code.the.Change" class="fa fa-facebook-square"></a>
							<a href="http://techkids.edu.vn/" class="fa fa-google-plus-square"></a>
						</p>
					</div>
					<div class="col-sm-3">
						<h5>Về TechKids</h5>
						<p>TechKids là một cộng đồng toàn cầu của những người sẵn sàng trở thành những người giỏi nhất, khác biệt nhất trong thế giới Công nghệ.</p>
						<p>Ở đó chúng tôi cùng nhau tìm định hướng, học hỏi hết mình, khơi dậy những ước mơ, cố gắng không ngừng và đồng hành với nhau trên hành trình chinh phục Công nghệ cao để thay đổi thế giới!</p>
					</div>
					<div class="col-sm-3">
						<h5>Tìm TechKids tại</h5>
						<ul>
							<li>TechHub 1: Số 13, ngõ 83 Trần Đại Nghĩa</li>
							<li>TechHub 2: Số 18, ngõ 67, Chùa Láng</li>
							<li>TechHub 3: Số 10, ngõ 121, Chùa Láng</li>
							<li>TechHub 4: Số 101D, ngõ 95, Chùa Bộc</li>
						</ul>
						<p>Hotline: Ms. Ha: 0165 300 5670</p>
					</div>
					<div class="col-sm-3">
						<h5>TechKids event</h5>
						<a href="#">Talkshow: Lập trình di động</a>
						<p><em>25th Sep @ 9:20</em></p>
						<p>Đi làm nghìn đô hay khởi nghiệp triệu đô?</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>	