{% extends "cms/base.html" %}
{%load staticfiles %}

{% block title %}TechKids - Sản phẩm của học viên{% endblock %}

{% block content %}
<section id="page_title" class="page_title stars">
	<div class="container">
		<div class="row fade_up text-center">
			<h3 class="section_title col-sm-5 col-xs-9">Sản phẩm của học viên</h3>
			<p class="section_subtitle">Kết quả của từng chương trình</p>
		</div>
	</div>
</section>
<section class="portfolio_item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</section>
{% endblock %}
