{% extends "cms/base.html" %}
{%load staticfiles %}

{% block title %}TechKids - Sản phẩm của học viên{% endblock %}

{% block content %}
<section id="page_title" class="page_title stars">
	<div class="container">
		<div class="row fade_up text-center">
			<h3 class="section_title col-sm-5 col-xs-9">Sản phẩm của học viên</h3>
			<p class="section_subtitle">Kết quả của từng chương trình</p>
		</div>
	</div>
</section>
<section class="portfolio_item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
				<div class="portfolio_demo portfolio_iphone">
					<img src="{% static "cms/img/IMG_0039.png" %}">
				</div>
      </div>
      <div class="col-sm-6">
        <h2 class="column_title">Game Rắn</h2>
        <p><em>Của anh Vát</em><p>
        <p>Hay vl luôn các bạn ạ!</p>
				<h4>CÔNG NGHỆ</h4>
				<p class="portfolio_technologies">Copapasta, Googling, Stackoverflow Asking</p>
      </div>
    </div>
  </div>
</section>
<section class="portfolio_item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 fly_right">
				<div class="portfolio_demo portfolio_iphone">
					<img src="{% static "cms/img/IMG_0039.png" %}">
				</div>
      </div>
      <div class="col-sm-6 fly_right">
        <h2 class="column_title">Game Rắn</h2>
        <p><em>Của anh Vát</em><p>
        <p>Hay vl luôn các bạn ạ!</p>
				<h4>CÔNG NGHỆ</h4>
				<p class="portfolio_technologies">Copapasta, Googling, Stackoverflow Asking</p>
      </div>
    </div>
  </div>
</section>
<section class="portfolio_item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
				<div class="portfolio_demo portfolio_iphone_horizontal">
					<img src="{% static "cms/img/IMG_0038.png" %}">
				</div>
      </div>
      <div class="col-sm-6">
        <h2 class="column_title">Game Rắn</h2>
        <p><em>Của anh Vát</em><p>
        <p>Hay vl luôn các bạn ạ!</p>
				<h4>CÔNG NGHỆ</h4>
				<p class="portfolio_technologies">Copapasta, Googling, Stackoverflow Asking</p>
      </div>
    </div>
  </div>
</section>
<section class="portfolio_item">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 fly_right">
				<div class="portfolio_demo portfolio_iphone_horizontal">
					<img src="{% static "cms/img/IMG_0038.png" %}">
				</div>
      </div>
      <div class="col-sm-6 fly_right">
        <h2 class="column_title">Game Rắn</h2>
        <p><em>Của anh Vát</em><p>
        <p>Hay vl luôn các bạn ạ!</p>
				<h4>CÔNG NGHỆ</h4>
				<p class="portfolio_technologies">Copapasta, Googling, Stackoverflow Asking</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
